.Signup-Main{
    width: 60%;
    background-color: whitesmoke;
    height: 450px;
    display: block;
    box-shadow:3px 3px 2px 1px #ab79d6;
    /* filter:drop-shadow(16px 16px 20px black) invert(25%); */
}
.Signup-Main h1{
    border-bottom :0.2rem solid #ab79d6;
    width: fit-content;
}
.main-div{
    width: 100%;
    height: 96.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-input{
    height: 2.5rem;
    width: 16rem;
    border:rgba(143,0,255,.30) 1px solid ;
    border-radius: 4px;
    padding-left: 5px;
}.signup-input{
    height: 2.5rem;
    width: 16rem;
    border-radius: 4px;
    padding-left: 5px;
}
.signup-select{
    height: 2.8rem;
    border:rgba(143,0,255,.30) 1px solid;
    width: 16.7rem;
    border-radius: 4px;
    padding-left: 5px;
}
/* .btn-signup{
    height: 2.5rem;
    width:5rem;
    color: black;
    font-weight: 700;
    background-color: yellow;
    border-radius: 1rem;
} */
.google-signup{
    height: 2.5rem;
    border:rgba(143,0,255,.30) 1px solid;
    color: black;
    padding:0 0 0 0;
    width: 16rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.google-signup img{
    width: 2rem;
    /* background-color: aqua; */
}
/* CSS */
.btn-signup {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-signup:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-signup:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}